name: Smoke Test

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  smoke-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Run smoke test
        run: |
          python smoke-check.py
